@media screen and (min-width:1470px){
    .d{
        background: url('C:\Users\nikos\OneDrive\Documents\Vova Woodworking\app\src\images\pexels-thijs-van-der-weide-1094767 1.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 30vw;
    }
}

@media screen and (max-width:1470px){
    .d{
        background: url('C:\Users\nikos\OneDrive\Documents\Vova Woodworking\app\src\images\pexels-thijs-van-der-weide-1094767 1.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 40vw;
        padding:0;
    }
}

@media screen and (max-width:1200px){
    .d{
        background: url('C:\Users\nikos\OneDrive\Documents\Vova Woodworking\app\src\images\pexels-thijs-van-der-weide-1094767 1-2.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 50vw;
        padding:0;

    }
}

@media screen and (max-width:768px){
    .d{
        height: 70vw !important;
    }
}

@media screen and (max-width:600px){
    .d{
        height: 90vw !important;
    }
}

@media screen and (max-width:450px){
    .d{
        height: 110vw !important;
    }
}

.contact-body{
    background:#A26943;
    padding-bottom:2.5%;
    height:fit-content
}
