

@media screen and (min-width:1200px){
    .i{
        background: url('/public/images/bailey-alexander-DfffcjQ106U-unsplash.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 30vw;
        /*<a href="https://www.freepik.com/free-photo/carpenter-makes-pencil-marks-wood-plank_21149769.htm#query=woodworking&position=8&from_view=search&track=sph&uuid=c345d431-1d7f-4cfc-b652-4ce52619b9b8">Image by fabrikasimf</a> on Freepik*/
    }
}

@media screen and (max-width:1200px){
    .i{
        background: url('/public/images/bailey-alexander-DfffcjQ106U-unsplash-2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: auto;
        padding:0;
        /*<a href="https://www.freepik.com/free-photo/carpenter-makes-pencil-marks-wood-plank_21149769.htm#query=woodworking&position=8&from_view=search&track=sph&uuid=c345d431-1d7f-4cfc-b652-4ce52619b9b8">Image by fabrikasimf</a> on Freepik*/
    }
}

@media screen and (min-width:1200px) and (max-width:1560px){
    .i.auto{
        height:auto !important;
    }
}

@media screen and (max-width:700px){
    .i.auto{
        height:auto !important;
    }
}

@media screen and (max-width:500px){
    .i{
        height: 70vw;
    }
}

@media screen and (max-width:400px){
    .i{
        height: 90vw !important;
    }
}

@media screen and (max-width:300px){
    .i{
        height: 110vw !important;
    }
}

.inventory{
    padding-bottom:1%;
}

.i-body{
    padding:0; 
    background:#875838;
}

.Sold{ 
    padding-bottom:1%;
}

.App{
    padding:0;
    height:50vw;
}